.tasks {
  list-style-type: none;
  display: grid;
  gap: 20px;
  padding: 0;
}

.searchForm {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
}

.searchBar {
  position: relative;
}

.searchInput {
  padding: 4px 20px;
  border: 1px solid #ad9898;
  border-radius: 10px;
}

.resetButton {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 10px;
  top: 4px;
}

.resetIcon {
  font-size: 14px;
  color: #ad9898;
}

.findButton {
  border: 1px solid #AD9898;
  border-radius: 5px;
  background-color: #F3F0EC;
  color: #AD9898;
  padding: 5px 20px;
}

.findButton:hover {
  border: 1px solid #3F3E45;
  color: #3F3E45;
}

.findButton:disabled {
  background-color: transparent;
  cursor: auto;
  color: rgba(173, 152, 152, 0.33);
}

.findButton:disabled:hover {
  border: 1px solid #AD9898;
  color: rgba(173, 152, 152, 0.33);
}

.sortBar {
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
}

.sortButton {
  background-color: transparent;
  border: 2px solid #AD9898;
  color: #AD9898;
  box-sizing: border-box;
  padding: 5px 15px;
}

.sortButton:first-child {
  border-radius: 10px 0 0 10px;
}

.sortButton:last-child {
  border-radius: 0 10px 10px 0;
}

.sortButton:hover {
  transform: translateY(-3px);
}

.active {
  background-color: #AD9898;
  color: #F3F0EC;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0 60px;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px 0 40px;
}

.errorTitle {
  font-size: 40px;
  color: #d04a4a;
}

.errorDescription {
  font-size: 16px;
  color: #3F3E45;
  padding: 20px 80px;
  border: 1px solid #d04a4a;
  border-radius: 20px;
}
