.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 40px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #3F3E45;
  cursor: pointer;
}

.searchForm {
  display: flex;

}
