.navigationBar {
  width: 80%;
}

.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pageButton {
  width: 40px;
  height: 40px;
  background-color: rgb(243, 240, 236);
  border: none;
  border-radius: 50%;
  color: rgb(173, 152, 152);
  cursor: pointer;
}

.active {
  background-color: rgb(173, 152, 152);
  color: rgb(243, 240, 236);
}


